* { box-sizing: border-box; }

body {
    margin: 0;
}

main {
    background-image: url("../img/back.jpeg");
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    border: black 2px solid;
    margin: 50px;
}

.train-button {
    display: none;
}

a {
    font-family: "Futura";
    font-size: 25px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
}

.square {
    height: 100px;
    width: 100px;
    background-color: white;
    border: black 2px solid;
    margin: 50px;
    padding: 5px;
    font-family: "Neuzeit Grotesk";
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {

    main {
        background-image: url("../img/train-front.jpg");
        display: flex;
        justify-content: flex-end;
        background-position: center;
        margin: auto;
        padding: 0;
    }

    a span {
        display: none;
    }

    a:after {
        content: ">";
    }

    .square {
        display: none;
    }

    .train-button {
        display: block;
    }

    .postcard-button {
        display: none;
    }

}
