.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    font-size: 200px;
    font-weight: 600;
    font-family: "neuzeit-grotesk", sans-serif;
    text-decoration: none;
    color: #ffce00;
}

a:hover {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #ffce00;
    -webkit-text-stroke-width: 1px;
}
