@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.studio {
    display: inline-block;
}

.lab {
    display: inline-block;
}

a {
    font-size: 150px;
    font-weight: 600;
    font-family: "neuzeit-grotesk", sans-serif;
    text-decoration: none;
    color: #ffce00;
}

a:hover {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #ffce00;
    -webkit-text-stroke-width: 1px;
}
