@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

.container {
    display: flex;
}

body {
  color: black;
  padding-left: 80px;
  padding-right: 80px;
  font-style: normal;
  margin-bottom: 80px;
}

h1 {
    font-family: domaine;
    font-size: 80px;
    color: black;
    font-weight: 300;
    margin-bottom: 0;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: #ffce00;
    font-size: 35px;
    font-weight: 300;
    font-family: "neuzeit-grotesk",sans-serif;
    padding-left: 150px;
    padding-right: 100px;
}

#back {
    font-family: "neuzeit-grotesk",sans-serif;
    font-size: 20px;
}
