@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

body {
    position: relative;
    background-color: #F4EBD7;
}

.container {
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.mid {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 130px;
    color: #F4EBD7;
    -webkit-text-stroke: 1px black;
    z-index: 10;
    text-decoration: none;
    transition: 1s;
}

.banner-image {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
    position: absolute;
}

h1 {
    font-family: "neuzeit-grotesk", sans-serif;
    color: #F4EBD7;
    z-index: 10;
    text-decoration: none;
}

.text-wrapper {
    display: inline-block;
}

.small-square {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 20px;
    z-index: -1;
    margin-left: -8px;
    margin-top: -8px;
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
}

.movie-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.movies {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movies-text {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 20px;
    z-index: 20;
    text-decoration: none;
    color: black;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.image {
    width: 250px;
    height: 187.5px;
    z-index: 5;
    border: black solid 1px;
    margin-bottom: 40px;
}

.television-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 0;
}

.television {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.television-text {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 20px;
    z-index: 15;
    text-decoration: none;
    color: black;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.video {
    display: none;
}

/* FOOTER */

.footer {
    height: 400px;
    background-color: #F4EBD7;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    border-top: black solid 1px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -50px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 140px;
}

h2 a {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 60px;
    color: black;
    z-index: 10;
    text-decoration: none;
}

.footer-links {
    color: black;
    text-decoration: none;
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.footer-links:hover {
    color: white;
}

p {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
}


.container-1 {
    display: flex;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

.newsletter {
    display: none;
}

form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: #F4EBD7;
    border: 1px solid #F4EBD7;
    color: white;
    border-bottom: 1px solid black;
}

input[type=submit] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 140px;
}

@media (min-width: 400px) { /* DESKTOP */

    .movie-wrapper {
        justify-content: flex-start;
        margin-left: 300px;
    }

    .television-wrapper {
        justify-content: flex-end;
        margin-right: 300px;
    }

    .footer {
        height: 200px;
    }

    .mid {
        font-size: 300px;
    }

    .image {
        width: 562px;
        height: 422px;
        z-index: 5;
        border: black solid 1px;
    }

    .image:hover {
        opacity: .5;
    }

    .square {
        width: 562px;
        height: 422px;
        background-color: white;
        position: absolute;
        top: -20px;
        left: 20px;
        z-index: -1;
        border: black solid 1px;
    }

    .movie-wrapper {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .movies {
        position: relative;
    }

    .movies-text {
        position: absolute;
        font-family: "domaine";
        font-size: 80px;
        z-index: 15;
        transform: rotate(270deg);
        margin-left: -430px;
        margin-top: -335px;
        text-decoration: none;
        color: black;
        background-color: transparent;
        padding: 0;
        border: none;
    }

    .movies-text:hover {
        color: white;
    }

    .television-wrapper {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .television {
        position: relative;
    }

    .television-text {
        position: absolute;
        font-family: "domaine";
        transform: rotate(270deg);
        font-size: 80px;
        z-index: 15;
        text-decoration: none;
        color: black;
        margin-top: -300px;
        margin-left: -474px;
        background-color: transparent;
        padding: 0;
        border: none;
    }

    .television-text:hover {
        color: white;
    }

    .image:hover {
        opacity: .5;
    }

    .video {
        opacity: 0;
        width: 562px;
        height: 422px;
        z-index: 5;
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
    }

    .video:hover {
        opacity: 1;
        transition: opacity .5s ease-in;
    }

    .small-square {
        display: none;
    }

    .footer {
        height: 200px;
        background-color: #F4EBD7;
        display: flex;
        justify-content: space-around;
        text-align: left;
        border-top: black solid 1px;
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: -50px;
        margin-left: -50px;
        margin-right: -50px;
        margin-top: 140px;
        flex-direction: row;
    }

    .newsletter {
        display: block;
    }

    h2 a {
        font-family: "neuzeit-grotesk", sans-serif;
        font-size: 80px;
        color: black;
        z-index: 10;
        text-decoration: none;
    }

}

@media screen and (max-width: 400px) { /* MOBILE */

    .movie-wrapper {
        justify-content: center;
        margin-left: 0;
    }

    .television-wrapper {
        justify-content: center;
        margin-right: 0;
    }

}
