@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

body {
    position: relative;
}

.container {
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 300px;
    color: #ffce00;
    z-index: 10;
    text-decoration: none;
}

h1:hover {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #ffce00;
    -webkit-text-stroke-width: 3px;
}

.mid {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 300px;
    color: #ffce00;
    z-index: 10;
    text-decoration: none;
    transition: 1s;
}

.banner-image {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.movies {
    position: relative;
    margin-left: 160px;
    margin-top: 200px;
    padding-bottom: 700px;
}

.movies-text {
    position: absolute;
    font-family: "domaine";
    font-size: 90px;
    z-index: 10;
    transform: rotate(270deg);
    right: 1120px;
    top: 190px;
    text-decoration: none;
    color: black;
}

.movies-text:hover {
    color: #ffce00;
}

.movie-image {
    width: 562px;
    height: 422px;
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 20px;
}

.movie-image:hover {
    opacity: .5;
}

.square-1 {
    width: 562px;
    height: 422px;
    background-color: #ffce00;
    position: absolute;
    top: 0px;
    left: 40px;
    z-index: 1;
}

.movie-video {
    opacity: 0;
    width: 562px;
    height: 422px;
    z-index: 5;
    position: absolute;
    top: 20px;
    left: 20px;
}

.movie-video:hover {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.television {
    position: relative;
    margin-right: 160px;
}

.television-text {
    position: absolute;
    font-family: "domaine";
    font-size: 90px;
    z-index: 10;
    right: 245px;
    top: -80px;
    text-decoration: none;
    color: black;
}

.television-text:hover {
    color: #ffce00;
}

.television-image {
    width: 562px;
    height: 422px;
    z-index: 5;
    position: absolute;
    top: 0px;
    right: 40px;
}

.square-2 {
    width: 562px;
    height: 422px;
    background-color: #ffce00;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.television-video {
    opacity: 0;
    width: 562px;
    height: 422px;
    z-index: 5;
    position: absolute;
    top: 0;
    right: 40px;
}

.television-video:hover {
    opacity: 1;
    transition: opacity .5s ease-in;
}

@media (max-width: 375px) {

    .mid {
        font-size: 180px;
    }

    .banner-image {
        display: none;
    }

    .banner-image {
        content: url("assets/img/home/banner-mobile.jpg");
    }

    div .movies {
        display: flex;
        justify-content: center;
    }

}
