.container {
    position: static;
    display: flex;
    flex-direction: column;
}

.movies {
    display: flex;
    justify-content: center;
}

.movie-image {
    width: 700px;
    height: 525px;
}

.square-1 {
    width: 700px;
    height: 525px;
}

.movies-text {
    transform: rotate(0deg);
    position: relative;
}

.television {
    display: flex;
    justify-content: center;
}

.television-image {
    width: 700px;
    height: 525px;
    top: 40px;
    left: 60px;
}

.square-2 {
    width: 700px;
    height: 525px;
}

.television-text {
    transform: rotate(0deg);
    position: relative;
}
