@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

body {
    background-color: #F4EBD7;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
}

li a {
    font-family: "neuzeit-grotesk";
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
}

#movies {
    flex: 0;
}

#televison {
    flex: 0;
}
a {
  color: #000;
}

/* header */

.header {
  z-index: 3;
  overflow: auto;
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
    font-family: "neuzeit-grotesk", sans-serif;
    font-weight: 700;
    display: block;
    float: left;
    font-size: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    text-decoration: none;
    z-index: 5;
    margin-right: auto;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 400px) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
}

.outer {
    position: relative;
}

.subtitle {
    font-family: "neuzeit-grotesk";
    position: absolute;
    top: -10px;
    padding-left: 80px;
}

h1 {
    font-family: "domaine";
    font-size: 80px;
    font-weight: 300;
    padding-left: 80px;
}

.inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 370px;
    margin: 40px;
    border: black solid 1px;
}

.movie {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.movie a {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 35px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

.year {
    font-family: "domaine";
    font-size: 17px;
    margin-top: -20px;
}

/* FOOTER */

.footer {
    height: 400px;
    background-color: #F4EBD7;
    display: flex;
    justify-content: space-around;
    border-top: black solid 1px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -50px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 100px;
}

h2 a {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 80px;
    color: black;
    z-index: 10;
    text-decoration: none;
}

.footer-links {
    color: black;
    text-decoration: none;
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.footer-links:hover {
    color: white;
}

p {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
}


.container-1 {
    display: flex;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: #F4EBD7;
    border: 1px solid #F4EBD7;
    color: white;
    border-bottom: 1px solid black;
}

input[type=submit] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 140px;
}

@media screen and (min-width: 400px) { /* DESKTOP */

    .footer {
        height: 200px;
    }

}
