@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 80px;
    padding-right: 80px;
}

li a {
    font-family: "neuzeit-grotesk";
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #ffce00;
}

#mid a {
    font-weight: 700;
    color: #ffce00;
    font-size: 60px;
    padding-left: 0;
    z-index: 5;
}

#mid {
    margin-right: auto;
}

#movies {
    flex: 0;
}

#televison {
    flex: 0;
}

.outer {
    position: relative;
}

.subtitle {
    font-family: "neuzeit-grotesk";
    position: absolute;
    top: -10px;
    padding-left: 80px;
}

h1 {
    font-family: "domaine";
    font-size: 80px;
    font-weight: 300;
    padding-left: 80px;
}

.inner {
    column-count: 2;
    margin-left: 170px;
    margin-right: 170px;
}

.incredibles {
    position: relative;
}

.incredibles a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    transform: rotate(90deg);
    position: absolute;
    top: 57%;
    right: -3%;
    z-index: 20;
}

.incredibles a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.catch {
    position: relative;
}

.catch a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 87%;
    right: 25%;
    z-index: 5;
}


.catch a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.moonrise {
    position: relative;
}

.moonrise a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg) translateZ(1px);
    top: 55%;
    right: -10%;
    z-index: 5;
}

.moonrise a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.graduate {
    position: relative;
}

.graduate a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 87%;
    right: 45%;
    z-index: 5;
}

.graduate a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.budapest {
    position: relative;
}

.budapest a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg) translateZ(1px);
    top: 40%;
    right: -28%;
    z-index: 5;
}

.budapest a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 370px;
    padding: 40px;
}

.lebowski {
    position: relative;
}

.lebowski a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 87.5%;
    right: 35%;
    z-index: 5;
}

.lebowski a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.best-of-everything {
    position: relative;
}

.best-of-everything a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg) translateZ(1px);
    top: 55%;
    right: -22%;
    z-index: 5;
}

.best-of-everything a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

/* FOOTER */

.footer {
    height: 170px;
    background-color: #ffce00;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: -50px;
    margin-left: -50px;
    margin-right: -50px;
}

h2 a {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 80px;
    color: white;
    z-index: 10;
    text-decoration: none;
}

.footer-links {
    color: black;
    text-decoration: none;
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.footer-links:hover {
    color: white;
}

p {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
}


.container-1 {
    display: flex;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
}

input[type=text] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: #ffce00;
    border: 1px solid #ffce00;
    color: white;
    border-bottom: 1px solid black;
}

input[type=submit] {
    font-family: "neuzeit-grotesk", sans-serif;
    font-size: 17px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    border: 1px solid black;
    width: 140px;
}
