@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    float: left;
}

li a {
    font-family: "neuzeit-grotesk";
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #e88458;
}

.outer {
    position: relative;
}

.subtitle {
    font-family: "neuzeit-grotesk";
    position: absolute;
    top: -10px;
    padding-left: 80px;
}

h1 {
    font-family: "domaine";
    font-size: 80px;
    font-weight: 300;
    padding-left: 80px;
}

.inner {
    column-count: 2;
    text-align: center;
}

.incredibles {
    position: relative;
}

.incredibles a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg);
    right: 35px;
    top: 273px;
}

.catch {
    position: relative;
}

.catch a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 445px;
    right: 140px;
}

.graduate {
    position: relative;
}

.graduate a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 445px;
    right: 330px;
}

.budapest {
    position: relative;
}

.budapest a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg);
    top: 200px;
    right: -57px;
}

img {
    width: 350px;
    padding: 20px;
}
