photo styling

/* THE INCREDIBLES */

#incredibles-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* MAD MEN */

* { box-sizing: border-box; }

body {
  height: 2000px;
}

#container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.item {
  width: 100%;
  height: 100%;
  background: red;
  transform: scale(0);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s opacity;
}

.item.is-visible {
	opacity: 1;
}

/* CATCH ME IF YOU CAN */

#catch-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* THE GRADUATE */

#graduate-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* THE GRAND BUDAPEST HOTEL */

#budapest-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* THE JETSONS */

#jetsons-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* MOONRISE KINGDOM */

#moonrise-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* THE BIG LEBOWSKI */

#lebowski-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* THE BEST OF EVERYTHING */

#best-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* BEWITCHED*/

#bewitched-photos {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 150px;
}

.column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}
