@font-face {
    font-family: forum;
    src: url("../fonts/forum.otf");
}

* {
  box-sizing: border-box;
}

.container {
    display: flex;
}

body {
  color: black;
  padding-left: 80px;
  padding-right: 80px;
  font-style: normal;
  margin-bottom: 80px;
  margin: 0;
}

#body {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "forum";
    padding-left: 150px;
    padding-right: 100px;
}

h1 {
    font-family: "neuzeit-grotesk",sans-serif;
    font-weight: 600;
    font-size: 120px;
    color: blue;
    margin-bottom: 0;
}

h1:hover {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 1px;
}

a {
    color: blue;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "forum";
}

p {
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-family: "forum";
    padding-left: 150px;
    padding-right: 100px;
}

a:hover {
  color: #e88458;
}

#back {
    font-family: "neuzeit-grotesk",sans-serif;
    font-size: 20px;
}

img {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0)%);
}

/* THE INCREDIBLES */

#parr-home {
    position: relative;
    width: 70%;
    height: 40%;
    top: 0px;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#parr-home:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0)%);
}

#edna-home {
    position: relative;
    width: 70%;
    height: 40%;
    top: 20px;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

#edna-home:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0)%);
}

/* CATCH ME IF YOU CAN */

#catch-one {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 0;
}

#catch-two {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 20px;
}

#catch-three {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 40px;
}

#catch-four {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 60px;
}

#catch-five {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 80px;
}

#catch-six {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 100px;
}

#catch-seven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 120px;
}

#catch-eight {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 140px;
}

#catch-nine {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 160px;
}

#catch-ten {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 180px;
}

#catch-eleven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 200px;
}

#catch-twelve {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 220px;
}

#catch-thirteen {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 240px;
}

/* THE GRADUATE */

#graduate-one {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 0;
}

#graduate-two {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 20px;
}

#graduate-three {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 40px;
}

#graduate-four {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 60px;
}

#graduate-five {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 80px;
}

#graduate-six {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 100px;
}

#graduate-seven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 120px;
}

#graduate-eight {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 140px;
}

#graduate-nine {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 160px;
}

#graduate-ten {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 180px;
}

#graduate-eleven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 200px;
}

#graduate-twelve {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 220px;
}

#graduate-thirteen {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 240px;
}

#graduate-fourteen {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 240px;
}

#graduate-fifteen {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 260px;
}

/* THE GRAND BUDAPEST HOTEL */

#budapest-one {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 0;
}

#budapest-two {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 20px;
}

#budapest-three {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 40px;
}

#budapest-four {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 60px;
}

#budapest-five {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 80px;
}

#budapest-six {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 100px;
}

#budapest-seven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 120px;
}

#budapest-eight {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 140px;
}

#budapest-nine {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 160px;
}

#budapest-ten {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 180px;
}

#budapest-eleven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 200px;
}

/* MAD MEN */

body {
	margin: 0;
}

.outer {
    bottom: 10px;
	padding: 30px;
	height: 300px;
	overflow-y: scroll;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
	height: 1400px;
	margin-bottom: 10px;
}

.image {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 150px;
	top: 1500px;
}


/* .row > .column {
  padding: 8px 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

.close {
  color: blue;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e88458;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  z-index: 2;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
} */

/* THE JETSONS */

#jetsons-zero {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 0;
}

#jetsons-one {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 20px;
}

#jetsons-two {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 40px;
}

#jetsons-three {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 60px;
}

#jetsons-four {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 80px;
}

#jetsons-five {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 100px;
}

#jetsons-six {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 120px;
}

#jetsons-seven {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 140px;
}

#jetsons-eight {
  position: relative;
  width: 50%;
  height: 45%;
  left: 150px;
  top: 160px;
}
