@font-face {
    font-family: domaine;
    src: url("../fonts/domaine.otf");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

li a {
    font-family: "neuzeit-grotesk";
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: #e88458;
}

#mid a {
    font-weight: 700;
    color: #ffce00;
    font-size: 60px;
    padding-left: 0;
    z-index: 5;
}

.outer {
    position: relative;
}

.subtitle {
    font-family: "neuzeit-grotesk";
    position: absolute;
    top: -10px;
    padding-left: 80px;
}

h1 {
    font-family: "domaine";
    font-size: 80px;
    font-weight: 300;
    padding-left: 80px;
}

.inner {
    column-count: 2;
    text-align: center;
}

.mad-men {
    position: relative;
}

.mad-men a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.mad-men a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    transform: rotate(90deg) translateZ(1px);
    right: 83px;
    top: 340px;
    z-index: 5;
}

.jetsons {
    position: relative;
}

.jetsons a:hover {
    background-color: #ffce00;
    color: white;
    transition: ease-in .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.jetsons a {
    font-family: "domaine";
    font-size: 40px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 448px;
    right: 360px;
    z-index: 5;
}

img {
    width: 350px;
    padding: 20px;
}
